{% extends 'base.html.twig' %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 7) }}

{% endblock %}

{% block title %}Liste des ateliers{% endblock %}

{% block body %}
    <h1>Liste des ateliers</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Image</th>
                <th>Unité de performance</th>
                <th>Unité d'intensite</th>
                <th>Description</th>
                <th>Resumé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atelier in ateliers %}
            <tr>
                <td>{{ atelier.titre }}</td>
                <td> <img src="{{ path('default')}}image/{{ atelier.image }}" height="30"></td>
                <td>{{ atelier.unitedeperformance }}</td>
                <td>{{ atelier.unitedintensite }}</td>
                <td>{{ atelier.description }}</td>
                <td>{{ atelier.resume }}</td>
                <td>
                    <a href="{{ path('atelier_show', {'id': atelier.id}) }}">Afficher</a>
                    <a href="{{ path('atelier_edit', {'id': atelier.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('atelier_new') }}">Créer</a>
{% endblock %}
