{% extends 'base.html.twig' %}

 {% block menu %}
     {% import 'macro/macroMenu.html.twig' as macroMenu %}
     {{ macroMenu.menu('Abdo en acier', 7) }}

 {% endblock %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ atelier.titre }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> <img src="{{ path('default')}}image/{{ atelier.image }}" height="30"></td>
            </tr>
            <tr>
                <th>Unité de performance</th>
                <td>{{ atelier.unitedeperformance }}</td>
            </tr>
            <tr>
                <th>Unité d'intensite</th>
                <td>{{ atelier.unitedintensite }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ atelier.description }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ atelier.resume }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('atelier_index') }}">Retour à la liste</a>

    <a href="{{ path('atelier_edit', {'id': atelier.id}) }}">Modifier</a> {{ include('atelier/_delete_form.html.twig') }}



    <h1>Listes des commentaires</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Auteur</th>
            <th>Titre</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for commentaire in atelier.commentaires %}
            <tr>
                <td>{{ commentaire.date|date('d-m-Y H:i:s') }}</td>
                <td>{{  commentaire.proprietaire.login }}</td>
                <td>{{  commentaire.titre }}</td>
                <td>{{  commentaire.message }}</td>
                <td>
                    <a href="{{ path('supprimerCommentaire', {'atelier':atelier.id , 'commentaire': commentaire.id}) }}">
                        Supp
                    </a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas encore de commentaire sur cet atelier</td>
            </tr>
        {% endfor %}

        <tr>
            {{ form_start(form) }}
            <td></td>
            <td></td>

            <td>
                {{ form_row(form.titre) }}
            </td>
            <td>
                {{ form_row(form.message) }}
            </td>

            <td>
                <button class="btn">{{ button_label|default('Ajouter') }}</button>
            </td>
            {{ form_end(form) }}
        </tr>
        </tbody>
    </table>


{% endblock %}
