{% extends 'base.html.twig' %}

{% block title %}CommentaireAtelier index{% endblock %}

{% block body %}
    <h1>CommentaireAtelier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Message</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire_atelier in commentaire_ateliers %}
            <tr>
                <td>{{ commentaire_atelier.id }}</td>
                <td>{{ commentaire_atelier.titre }}</td>
                <td>{{ commentaire_atelier.message }}</td>
                <td>{{ commentaire_atelier.date ? commentaire_atelier.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commentaire_atelier_show', {'id': commentaire_atelier.id}) }}">show</a>
                    <a href="{{ path('commentaire_atelier_edit', {'id': commentaire_atelier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_atelier_new') }}">Create new</a>
{% endblock %}
