{% extends 'base.html.twig' %}

{% block title %}Sequencetheorique{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 9) }}
{% endblock %}

{% block body %}
    <h1>Sequences</h1> <a href="{{ path('sequencetheorique_edit', {'id': sequencetheorique.id}) }}">Modifier</a>

    <table class="table">
        <tbody>

            <tr>
                <th>Titre</th>
                <td>{{ sequencetheorique.titre }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>

                    {% if sequencetheorique.niveau == '1' %}
                        Débutant
                    {% elseif sequencetheorique.niveau == '2' %}
                        Confirmé
                    {% elseif sequencetheorique.niveau == '3' %}
                        Expert
                    {% endif %}

                </td>


            </tr>
            <tr>
                <th>Catégorie</th>
                <td>
                    {{ sequencetheorique.idcategoriesequence.titre }}</td>
            </tr>
            <tr>

                <td colspan="2" align="center">
                    </td>
            </tr>
        </tbody>
    </table>



    <h1>Listes des activités</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Atelier</th>
            <th>Performance</th>
            <th>Intensité</th>

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activitesequencetheorique in activitesequencetheoriques %}
            <tr>
                <td> <img src="{{ path('default')}}image/{{ activitesequencetheorique.idatelier.image }}" height="30" width="30"> {{ activitesequencetheorique.idatelier.titre }}</td>
                <td>{{ activitesequencetheorique.perfobjectif }} {{ activitesequencetheorique.idatelier.unitedeperformance }}</td>
                <td>{{ activitesequencetheorique.intensiteObjectif }} {{ activitesequencetheorique.idatelier.unitedintensite }}</td>


                <td>
                    <a href="{{ path('activitesequencetheorique_haut', {'sequencetheorique':sequencetheorique.id , 'activitesequencetheorique': activitesequencetheorique.id}) }}">Haut</a>
                    <a href="{{ path('activitesequencetheorique_bas', {'sequencetheorique':sequencetheorique.id , 'activitesequencetheorique': activitesequencetheorique.id}) }}">Bas</a>
                    <a href="{{ path('activitesequencetheorique_supprimer', {'sequencetheorique':sequencetheorique.id , 'activitesequencetheorique': activitesequencetheorique.id}) }}">Supp</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        <tr>
        {{ form_start(form) }}
            <td>
                {{ form_row(form.idatelier) }}
            </td>
        <td>
        {{ form_widget(form.perfobjectif) }} <span id="perfobjectif_span">{{ atelier.unitedeperformance }}</span>
        </td>
            <td>
            {{ form_widget(form.intensiteobjectif) }}  <span id="intensiteobjectif_span">{{ atelier.unitedintensite }}</span>
            </td>

            <td>
        <button class="btn">{{ button_label|default('Ajouter') }}</button>
            </td>
        {{ form_end(form) }}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('sequencetheorique_index') }}">back to list</a>



    {{ include('sequencetheorique/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('#activitesequencetheorique_idatelier').change(function () {
                var activitesequencetheorique_idatelier = $(this);

                // Request the neighborhoods of the selected city.
                $.ajax({
                    url: "{{ path('donneInfoAtelier_ajax') }}",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        atelierid: activitesequencetheorique_idatelier.val()
                    },
                    success: function (atelier) {
                        $("#perfobjectif_span").html(""+atelier.unitedeperformance);

                        $("#intensiteobjectif_span").html(atelier.unitedintensite);
                    },
                    error: function (err) {
                        alert("An error ocurred while loading data ...");
                    }
                });
            });
        });
    </script>
{% endblock %}