{% extends 'base.html.twig' %}

{% block title %}Liste des boissons{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Abdo en acier', 10) }}
{% endblock %}

{% block body %}
    <h1>Liste des boissons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for boisson in boissons %}
            <tr>

                <td>{{ boisson.titre }}</td>
                <td>{{ boisson.description }}</td>
                <td>
                    <a href="{{ path('boisson_show', {'id': boisson.id}) }}">montrer</a>
                    <a href="{{ path('boisson_edit', {'id': boisson.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas encore de boisson</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('boisson_new') }}">Création</a>
{% endblock %}
